
.chat-round-icon {

    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.chat-round-icon-opposite {
    position: absolute;
    top: 0;
    left: -65px;
}

.chat-round-icon-self {
    position: absolute;
    top: 0;
    right: -65px;
}

.message-self {
    width: auto;
    max-width: 40vw;
    margin: 30px auto;
    background-color: #6495ED;
    border-bottom-color:#6495ED;
    color: #fff;
    font-family: Arial;
    line-height: 18px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    word-break: break-all;
    display: block;
}
.message-self:after {
    content: '';
    position: absolute;
    top: 8px;
    right: -14px;
    width: 10px;
    height: 10px;
    border-width: 0 0 10px 10px;
    border-style: solid;
    border-bottom-color: inherit;
    border-left-color: transparent;
    border-radius: 0 0 30px 0;
}
.message-opposite{
    width: auto;
    max-width: 40vw;
    margin: 30px auto;
    background-color: grey;
    border-bottom-color:grey;
    color: #fff;
    font-family: Arial;
    line-height: 18px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    word-break: break-all;
    display: block;
}
.message-opposite::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -18px;
    width: 10px;
    height: 10px;
    border-width: 0 0 8px 8px;
    border-style: solid;
    border-bottom-color: inherit;
    border-left-color: transparent;
    border-radius: 0 0 30px 0;
    transform: rotateY(180deg);
}