.main {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(195, 195, 195);
    width: 90vw;
    height: 70vh;
    margin-left: 1vw;
}

#main-target {
    border: 0;
    font-size: 16px;
    margin: 6px 0 6px 12px;
}

#message {
    border: 0;
    height: 102px;
    width: calc(80vw - 4px);
    resize: none;
    font-size: 16px;
    border-top-color: rgb(0,25,255);
}

#main-message-box {
    display: inline;
    height: 80vh;
    width: 80vh;
}

#main-message-body {
    height: calc(70vh - 140px);
    overflow: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 25, 255);
    border-image: initial;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(0, 25, 255);
}
.message-self {
    width: 200px;
    margin: 100px auto;
    background-color: #6495ED;
    border-bottom-color:#6495ED;
    color: #fff;
    font-family: Arial;
    line-height: 18px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    word-break: break-all;
}
.message-self:after {
    content: '';
    position: absolute;
    top: 8px;
    right: -14px;
    width: 10px;
    height: 10px;
    border-width: 0 0 10px 10px;
    border-style: solid;
    border-bottom-color: inherit;
    border-left-color: transparent;
    border-radius: 0 0 30px 0;
}
.message-opposite{
    width: 200px;
    margin: 100px auto;
    background-color: grey;
    border-bottom-color:grey;
    color: #fff;
    font-family: Arial;
    line-height: 18px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    word-break: break-all;
}
.message-opposite::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -18px;
    width: 10px;
    height: 10px;
    border-width: 0 0 8px 8px;
    border-style: solid;
    border-bottom-color: inherit;
    border-left-color: transparent;
    border-radius: 0 0 30px 0;
    transform: rotateY(180deg);
}